<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li><a href="http://creativecommons.org/licenses/by/4.0/">
          {% include icons/cc-attribute.html %}
          <span class="license-text">Text available via CC Attribution 4.0</span>
        </a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          {% include icons/rss.html %}
          <span class="username">Subscribe</span>
        </a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            {% include icons/github.html %}
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter }}">
            <span class="icon twitter">
              {% include icons/twitter.html %}
            </span>
            <span class="username">{{ site.twitter }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
{% if site.comments %}
<script type="text/javascript">
var disqus_shortname = 'handshakeeng';

(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = '//' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% endif %}
