<pre class="engineering-ascii short">








       ................  ......       .....         ........
       EEEEEEEEEEEEEEE:  EEEEEEE.     EEEEE     .EEEEEEEEEEEEE.
       EEEEE```````````  EEEEEEEEE.   EEEEE   .EEEEEE``````EE.`
       EEEEE..........   EEEEEEEEEE.  EEEEE  .EEEEE.   .........
       EEEEEEEEEEEEEE:   EEEEE .EEEEE.EEEEE  :EEEEE    :EEEEEEEE
       EEEEE``````````   EEEEE   .EEEEEEEEE  `EEEEE`   ````EEEEE
       EEEEE...........  EEEEE     .EEEEEEE   `EEEEEE`.....EEEEE
       EEEEEEEEEEEEEEE:  EEEEE       .EEEEE     `EEEEEEEEEEEEEE`
       ````````````````  `````        `````        `````````








</pre>
