<pre class="engineering-ascii engineering-logo">
                                 .
                              .HHHHH.
                            .HHHHHHHH.
                          HHHHH.   HHHHH.
                       .HHHHH. .:H:. .HHHHH
                     .HHHHH  .HHHHHHH. .HHHHH.                 .
                  .HHHHH.  .HHHHH HHHH.   .HHHH.             .SSS.
                .HHHHH. .HHHHH.  .  HHHHH.  .HHHHH.        .SSSSS. .
             .HHHHH.  .HHHHH.  HHHH.  .HHHHH.  .HHHHH.  .SSSSSS  .SSSS.
           .HHHHH.  HHHHHH  .HHHHHHHHH   HHHHH.  .H.  .SSSSS.  SSSSSS.  .
         HHHHHH  .HHHHH.  HHHHHH `.HHHHH.  HHHHHH ` SSSSSS. .SSSSSS  .SSSSS
      .HHHHH.  .HHHHH. .HHHHH.  .`.  .HHHH.  `H` .SSSSSS  .SSSSS.  SSSSSS.
    HHHHHH. .HHHHH.  .HHHHH.  .SSSSS`  .HHHH. .SSSSSS.  SSSSSS  .SSSSS.
 .HHHHH.  .HHHHH.  HHHHH.  .SS. `SSSSSS  `H .SSSSS.  .SSSSS.  .SSSSS.
`HHHH. .HHHHH.  .HHHHH. . `SSSSS`  `SSSSS..SSSSS.  SSSSSS  .SSSSSS.
  `  .HHHHH.  HHHHHH. .SSS.  `SSSSS`  SSSSSSSS   SSSSSS  .SSSSSS
     `HHH  .HHHHHH    `SSSSS`  `SSSSS` `SSSS  .SSSSS  .SSSSSS
       ` .HHHHH.        `SSSSSS  `SSSSS` `` SSSSSS  .SSSSSS.
          `HH             `SSSSSS` `SSSSSSSSSSS.  SSSSSS.
                             `SSSSSS  `SSSSSS. .SSSSSS
                               `SSSSSS.  ``  SSSSSSS
                                  `SSSSSS..SSSSSS
                                    `SSSSSSSSS.
                                      `SSSSS.
                                         ``</pre>
