<div class="post">
  <header class="post-header">
    <h1>{% if post_page == false %}<a href="{{ post.url | prepend: site.baseurl }}">{% endif %}
      {{ post.title }}
    {% if post_page == false %}</a>{% endif %}</h1>
    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>
</div>
{% if post_page %}
<div class="social">
  <a class="icon twitter" href="https://twitter.com/intent/tweet?url={{ post.url | UrlEncode }}&text={{ post.title | UrlEncode }}%20via%20{{ site.twitter }}">
    {% include icons/twitter.html %}
  </a>
  <a class="icon linkedin" href="http://www.linkedin.com/cws/share?url={{ post.url | UrlEncode }}">
    {% include icons/linkedin.html %}
  </a>
  <a class="icon hackernews" href="https://news.ycombinator.com/submitlink?u={{ post.url | UrlEncode }}&t={{ post.title | UrlEncode }}">
    {% include icons/hackernews.html %}
  </a>
</div>
{% endif %}
