<div class="post">
  <header class="post-header">
    <h1>{% if post_page == false %}<a href="{{ post.url | prepend: site.baseurl }}">{% endif %}
      {{ post.title }}
    {% if post_page == false %}</a>{% endif %}</h1>
    <div class="post-subheader">
      <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="https://github.com/{{ post.author }}">{{ post.author }}</a>{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      {% include social.html %}
     </div>
  </header>

  <article class="post-content">
    {% assign image = post.image %}
    {% include masthead.html %}
    {{ content }}
  </article>
  <footer class="post-footer">
    {% include social.html %}
    <p class="cta">
    {% if post_page %}{% if post.previous %}
      <a href="{{ post.previous.url | prepend: site.baseurl }}">
        Read this next: {{ post.previous.title | truncate: 45 }} &raquo;
      </a>
    {% endif %}{% else %}{% if site.comments %}
      <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">
        Comment &raquo;
      </a>
    {% endif %}{% endif %}
    </p>
  </footer>
  <!-- Disqus -->
  {% if post_page %}{% if site.comments %}
      <a name="disqus_thread"><!-- --></a>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'handshakeeng';

        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
   {% endif %}{% endif %}
</div>
